casadi
transforms3d
xacro
urdf-parser-py
osqp
cvxopt
vtk

# PyTorch 2.1.1
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.1+cu118
torchvision==0.16.1+cu118

# JupyterLab
jupyterlab==4.0.11
ipywidgets==8.1.1

# ROS
rospkg==1.5.0
pycryptodomex==3.19.0
gnupg==2.3.1
netifaces==0.11.0

# Data Science Libraries
numpy==1.26.4
scipy==1.12.0
matplotlib==3.8.3
scikit-learn==1.4.1.post1
scikit-image==0.22.0
pandas==2.2.1
openpyxl==3.1.2
tqdm==4.66.2
ruamel.yaml==0.18.6
ninja==1.11.1.1
h5py==3.10.0

# CV Libraries
imageio==2.34.0
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
plotly==5.19.0
open3d==0.18.0
av==11.0.0
pyglet==1.5.28

# Trimesh
trimesh==4.1.8
xatlas==0.0.9
rtree==1.2.0

# PyRender
pyrender==0.1.45
pyOpenGL>=3.1.0
pyOpenGL_accelerate>=3.1.0

# MediaPipe
mediapipe==0.10.11

# Google Drive Downloader
gdown==5.1.0

# BundleSDF
dearpygui==1.11.0
pytinyrenderer==0.0.14
kornia==0.7.1
einops==0.7.0
transformations==2024.6.1

# Xmem
progressbar2==4.4.2
hickle==5.0.2
tensorboard==2.16.2

# Mobile SAM
timm==0.9.16

# PyTorch3D
fvcore==0.1.5.post20221221


# Chumpy
# python -m pip install --quiet --no-cache-dir git+https://github.com/gobanana520/chumpy.git
# Modified version for PyRender
# python -m pip install --quiet --no-cache-dir git+https://github.com/mmatl/pyopengl.git
# Kaolin
# python -m pip install --quiet --no-cache-dir kaolin==0.15.0 -f https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.1.1_cu118.html
# PyTorch3D
# python -m pip install --quiet --no-index --no-cache-dir pytorch3d -f https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py310_cu118_pyt211/download.html
# SAM
# python -m pip install --quiet --no-cache-dir git+https://github.com/facebookresearch/segment-anything.git
# MobileSAM
# python -m pip install --quiet --no-cache-dir git+https://github.com/ChaoningZhang/MobileSAM.git
