# PyTorch 2.1.1
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.1+cu118
torchvision==0.16.1+cu118

# JupyterLab
jupyterlab==4.0.11
ipywidgets==8.1.1

# ROS
rospkg==1.5.0
pycryptodomex==3.19.0
gnupg==2.3.1
netifaces==0.11.0

# Data Science Libraries
numpy==1.26.3
scipy==1.11.4
matplotlib==3.8.2
scikit-learn==1.4.0
scikit-image==0.22.0
pandas==2.1.4
openpyxl==3.1.2
tqdm==4.66.1
ruamel.yaml==0.18.5
ninja==1.11.1.1
h5py==3.10.0

# CV Libraries
imageio==2.33.1
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
plotly==5.18.0
open3d==0.18.0
pyvista==0.43.1
vedo==2023.5.0
pyrealsense2==2.54.2.5684
pyk4a==1.5.0
av==11.0.0
pyglet==1.5.28
# Trimesh
trimesh==4.0.10
xatlas==0.0.8
rtree==1.1.0
# PyRender
pyrender==0.1.45
pyOpenGL>=3.1.0
pyOpenGL_accelerate>=3.1.0
# MediaPipe
mediapipe==0.10.9

# BundleSDF
dearpygui==1.10.1
pytinyrenderer==0.0.14
kornia==0.7.0
einops==0.7.0
transformations==2022.9.26

# Xmem
progressbar2==4.3.2
gdown==5.0.0
hickle==5.0.2
tensorboard==2.15.1

# Mobile SAM
timm==0.9.12

# PyTorch3D
fvcore==0.1.5.post20221221
